firebaseEmulator
.vscode
.DS_Store
# HuggingFace
.cache/
**/.cache/
huggingface/
**/huggingface/
models/

# Python
__pycache__/
*.pyc

# Env
.env
venv/
.venv/
tmp/

backend/__pycache__
backend/.env
backend/serviceAccount.json
backend/*/__pycache__

testing
audio
audioTest
index.txt
indexTest.txt